<a href="https://colab.research.google.com/github/MuhammadBilal-403/Interboot/blob/main/ADVANCED_LEVEL_TASK_(PART_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.preprocessing import StandardScaler

In [4]:
df = pd.read_csv("train.csv")
df.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0            0
1   1  2013-01-01          1   BABY CARE    0.0            0
2   2  2013-01-01          1      BEAUTY    0.0            0
3   3  2013-01-01          1   BEVERAGES    0.0            0
4   4  2013-01-01          1       BOOKS    0.0            0

In [5]:
df['date'] = pd.to_datetime(df['date'])

df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['weekday'] = df['date'].dt.weekday
df['is_weekend'] = df['weekday'].isin([5, 6]).astype(int)

In [6]:
df = df.drop(columns=['date', 'id'])

In [7]:
X = df.drop(columns=['sales'])
y = df['sales']

In [8]:
print(X.dtypes)

store_nbr       int64
family         object
onpromotion     int64
year            int32
month           int32
day             int32
weekday         int32
is_weekend      int64
dtype: object

In [9]:
X = df.drop(columns=['sales'])
y = df['sales']

In [13]:
X = pd.get_dummies(X, columns=['family'], drop_first=True)

In [14]:
print(X.select_dtypes(include=['object']).columns)

Index([], dtype='object')

In [15]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [16]:
scaler = StandardScaler()

X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [17]:
lr = LinearRegression()
lr.fit(X_train_scaled, y_train)

y_pred_lr = lr.predict(X_test_scaled)

print("Linear Regression RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_lr)))
print("Linear Regression R2:", r2_score(y_test, y_pred_lr))

Linear Regression RMSE: 757.053076682972
Linear Regression R2: 0.53884462643692

In [18]:
ridge = Ridge(alpha=1.0)
ridge.fit(X_train_scaled, y_train)

y_pred_ridge = ridge.predict(X_test_scaled)

print("Ridge RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_ridge)))
print("Ridge R2:", r2_score(y_test, y_pred_ridge))

Ridge RMSE: 757.0530801875069
Ridge R2: 0.5388446221673775

In [19]:
lasso = Lasso(alpha=0.01)
lasso.fit(X_train_scaled, y_train)

y_pred_lasso = lasso.predict(X_test_scaled)

print("Lasso RMSE:", np.sqrt(mean_squared_error(y_test, y_pred_lasso)))
print("Lasso R2:", r2_score(y_test, y_pred_lasso))

Lasso RMSE: 757.0532647063023
Lasso R2: 0.5388443973698108

In [20]:
feature_importance = pd.Series(
    lasso.coef_, index=X.columns
).sort_values()

feature_importance

weekday                              -24.218421
day                                  -13.088676
family_BABY CARE                      -1.002361
family_SCHOOL AND OFFICE SUPPLIES     -0.960679
family_HOME APPLIANCES                -0.959863
family_BOOKS                          -0.943154
family_BEAUTY                         -0.875428
family_HARDWARE                       -0.792707
family_MAGAZINES                      -0.476611
family_LAWN AND GARDEN                -0.392083
family_PET SUPPLIES                   -0.372554
family_PLAYERS AND ELECTRONICS        -0.039417
family_LINGERIE                        0.143230
family_LADIESWEAR                      0.156557
family_CELEBRATION                     0.270914
family_HOME AND KITCHEN II             0.711293
family_HOME AND KITCHEN I              0.860666
family_SEAFOOD                         1.439383
family_GROCERY II                      2.416023
family_LIQUOR,WINE,BEER               12.039870
family_PREPARED FOODS                 14.234248
family_FROZEN FOODS                   21.238195
family_EGGS                           21.695934
family_HOME CARE                      22.514026
month                                 23.026514
family_DELI                           24.549803
family_PERSONAL CARE                  36.953729
store_nbr                             43.500796
family_MEATS                          47.426174
year                                  48.444660
family_POULTRY                        51.234302
family_BREAD/BAKERY                   66.879125
is_weekend                            82.506922
family_DAIRY                          95.435564
family_CLEANING                      160.260442
family_PRODUCE                       191.465985
onpromotion                          221.688303
family_BEVERAGES                     377.135677
family_GROCERY I                     578.906401
dtype: float64