<a href="https://colab.research.google.com/github/MuhammadBilal-403/Interboot/blob/main/INTERMEDIATE_LEVEL_TASK_(PART_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("/content/train.csv")

In [ ]:

df.head()

   id        date  store_nbr      family  sales  onpromotion
0   0  2013-01-01          1  AUTOMOTIVE    0.0          0.0
1   1  2013-01-01          1   BABY CARE    0.0          0.0
2   2  2013-01-01          1      BEAUTY    0.0          0.0
3   3  2013-01-01          1   BEVERAGES    0.0          0.0
4   4  2013-01-01          1       BOOKS    0.0          0.0

In [ ]:
df['date'] = pd.to_datetime(df['date'])

In [ ]:
df['onpromotion'] = df['onpromotion'].fillna(0)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 453206 entries, 0 to 453205
Data columns (total 6 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   id           453206 non-null  int64
 1   date         453206 non-null  datetime64[ns]
 2   store_nbr    453206 non-null  int64
 3   family       453206 non-null  object
 4   sales        453206 non-null  float64
 5   onpromotion  453206 non-null  float64
dtypes: datetime64[ns](1), float64(2), int64(2), object(1)
memory usage: 20.7+ MB

In [ ]:
df['day'] = df['date'].dt.day
df['month'] = df['date'].dt.month
df['year'] = df['date'].dt.year
df['weekday'] = df['date'].dt.weekday

In [ ]:
df['is_weekend'] = df['weekday'].apply(lambda x: 1 if x >= 5 else 0)

In [ ]:
daily_sales = df.groupby('date').agg({
    'sales': 'sum',
    'onpromotion': 'sum',
    'day': 'first',
    'month': 'first',
    'year': 'first',
    'weekday': 'first',
    'is_weekend': 'first'
}).reset_index()

In [ ]:
daily_sales = df.groupby('date')['sales'].sum().reset_index()

In [ ]:
daily_sales['lag_7'] = daily_sales['sales'].shift(7)

In [ ]:

daily_sales['lag_30'] = daily_sales['sales'].shift(30)

In [ ]:
daily_sales = daily_sales.dropna()

In [ ]:
df = df.merge(daily_sales, on='date', how='inner')

In [ ]:
df.head(40)

,id,date,store_nbr,family,sales_x,onpromotion,day,month,year,weekday,is_weekend,sales_y,lag_30
0,53460,2013-01-31,1,AUTOMOTIVE,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
1,53461,2013-01-31,1,BABY CARE,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
2,53462,2013-01-31,1,BEAUTY,2.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
3,53463,2013-01-31,1,BEVERAGES,889.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
4,53464,2013-01-31,1,BOOKS,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
5,53465,2013-01-31,1,BREAD/BAKERY,304.766,0.0,31,1,2013,3,0,271254.217996,2511.618999
6,53466,2013-01-31,1,CELEBRATION,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
7,53467,2013-01-31,1,CLEANING,706.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
8,53468,2013-01-31,1,DAIRY,365.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
9,53469,2013-01-31,1,DELI,111.712,0.0,31,1,2013,3,0,271254.217996,2511.618999
10,53470,2013-01-31,1,EGGS,121.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
11,53471,2013-01-31,1,FROZEN FOODS,35.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
12,53472,2013-01-31,1,GROCERY I,1496.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
13,53473,2013-01-31,1,GROCERY II,18.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
14,53474,2013-01-31,1,HARDWARE,1.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
15,53475,2013-01-31,1,HOME AND KITCHEN I,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
16,53476,2013-01-31,1,HOME AND KITCHEN II,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
17,53477,2013-01-31,1,HOME APPLIANCES,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
18,53478,2013-01-31,1,HOME CARE,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
19,53479,2013-01-31,1,LADIESWEAR,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
20,53480,2013-01-31,1,LAWN AND GARDEN,5.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
21,53481,2013-01-31,1,LINGERIE,9.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
22,53482,2013-01-31,1,"LIQUOR,WINE,BEER",82.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
23,53483,2013-01-31,1,MAGAZINES,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
24,53484,2013-01-31,1,MEATS,264.937,0.0,31,1,2013,3,0,271254.217996,2511.618999
25,53485,2013-01-31,1,PERSONAL CARE,122.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
26,53486,2013-01-31,1,PET SUPPLIES,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
27,53487,2013-01-31,1,PLAYERS AND ELECTRONICS,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
28,53488,2013-01-31,1,POULTRY,107.302,0.0,31,1,2013,3,0,271254.217996,2511.618999
29,53489,2013-01-31,1,PREPARED FOODS,47.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
30,53490,2013-01-31,1,PRODUCE,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
31,53491,2013-01-31,1,SCHOOL AND OFFICE SUPPLIES,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
32,53492,2013-01-31,1,SEAFOOD,25.860,0.0,31,1,2013,3,0,271254.217996,2511.618999
33,53493,2013-01-31,10,AUTOMOTIVE,3.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
34,53494,2013-01-31,10,BABY CARE,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
35,53495,2013-01-31,10,BEAUTY,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
36,53496,2013-01-31,10,BEVERAGES,371.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
37,53497,2013-01-31,10,BOOKS,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
38,53498,2013-01-31,10,BREAD/BAKERY,74.000,0.0,31,1,2013,3,0,271254.217996,2511.618999
39,53499,2013-01-31,10,CELEBRATION,0.000,0.0,31,1,2013,3,0,271254.217996,2511.618999

In [ ]:
daily_sales = daily_sales.merge(
    df[['date', 'day', 'month', 'year', 'weekday', 'is_weekend', 'onpromotion']],
    on='date',
    how='left'
)

In [ ]:
X = daily_sales[
    ['day', 'month', 'year', 'weekday', 'is_weekend',
     'onpromotion', 'lag_7', 'lag_30']
]

y = daily_sales['sales']

Index(['date', 'sales', 'lag_7', 'lag_30', 'day', 'month', 'year', 'weekday',
       'is_weekend', 'onpromotion'],
      dtype='object')